name: Build and Push Docker Image

on:
  push:
    branches: ['master']

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata for Requests
        id: meta-requests
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          bake-target: requests
          tags: |
            type=raw,value=requests
            type=sha,prefix=requests-,format=short

      - name: Extract metadata for Playwright
        id: meta-playwright
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          bake-target: playwright
          tags: |
            type=raw,value=playwright
            type=sha,prefix=playwright-,format=short

      - name: Build and push Docker images
        uses: docker/bake-action@v6
        with:
          files: |
            ./docker/docker-bake.hcl
            ${{ steps.meta-requests.outputs.bake-file }}
            ${{ steps.meta-playwright.outputs.bake-file }}
          push: true
          set: |
            *.cache-from=type=gha
            *.cache-to=type=gha,mode=max
